* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background:#efefef;
    background: url(/img/cream_dust.png) repeat 0 0;
}

header h1 {
    text-align:left;
    font-size: 50px;
    color: white;
}


header {
    padding: 40px;
    background-color: rgb(130, 226, 122);
    background-image: linear-gradient(rgba(125, 227, 230, 0.3),rgba(234, 106, 106, 0.1)) url("C:\Users\Administrator\Downloads\minor\covid.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
nav .logo {
  width: 25%;
  text-align: center;
  /*background: red;*/
}
nav {
    background-color: rgb(201, 16, 182);
    width:100%;
    height: 15vh;
    color: #1fd960;display: flex;justify-content: space-between;
    align-items: center;text-transform: uppercase;

    overflow: hidden;
}

nav a {
    text-decoration: none;
    padding: 40px;
    text-align: center;
    float: right;
    color: rgb(43, 162, 188);
}

main {
    background-color: rgb(145, 206, 235);
    text-align: center;
}

h2 {
    padding: 22px;
}

section:nth-child(even) {
    background-color: rgb(125, 125,231);
}

section {
    min-height: 49vh;
}

video {
    padding: 11px;
}

iframe {
    height: 49vh;
}

img {
    padding: 11px;
}

section h5 {
    margin: 44px;
}

footer {
    background-color: rgb(71, 218, 145);
    overflow: hidden;
}

footer a {
    text-decoration: none;
    padding: 23px;
    text-align: center;
    float: left;
    color: rgb(235, 184, 184);
}

.navbar {
  width:85%;
  margin:auto;
  padding: 35px 0;
  display:flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  background-color: rgb(214, 43, 140);
  font-family:Monospace, Helvetica, sans-serif;
}

.navbar2 {
  width:85%;
  margin:auto;
  padding: 35px 0;
  display:flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  background-color: rgb(49, 171, 149);
  font-family:Monospace, Helvetica, sans-serif;
  display: inline-block;
}

.navbar a {
  width:85%;
  margin:auto;
  padding: 35px 0;
  display:flex;
  align-items: center;
  justify-content: space-between;
  float: left;
  font-size: 18px;
  color: rgb(72, 220, 200);
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
}

.navbar2 a {
  width:85%;
  margin:auto;
  padding: 35px 0;
  display:flex;
  align-items: center;
  justify-content: space-between;
  float: right;
  font-size: 18px;
  color: rgb(114, 237, 200);
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 18px;  
  border: none;
  outline: none;
  color: rgb(48, 235, 225);
  padding: 14px 18px;
  background-color: rgb(48, 235, 225);
  font-family: inherit,Monospace;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: rgb(82, 189, 231);
  text-decoration: double;
}

.navbar2 a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: rgb(204, 221, 60);
  text-decoration: double;
}

.dropdown-content {
  display: none;
  position: absolute;
  color: rgb(248, 228, 9);
  background-color: rgb(199, 25, 133);
  min-width: 180px;
  box-shadow: 1px 9px 17px 0px rgba(49, 21, 125, 0.2);
  z-index: 1;
  text-transform: uppercase;
  position: relative;
}

.dropdown-content::after{
  content:'';
  height: 3px;
  width:0;
  background:#009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;

}

.dropdown-content:hover:after{
  width: 100%;
}

.dropdown-content a {
  float: none;
  color: rgb(248, 228, 9);
  padding: 11px 18px;
  text-decoration: none;
  display: block;
  text-align: left;
  text-transform: uppercase;
}

.dropdown-content a ::after{
  content:'';
  height: 3px;
  width:0;
  background:#009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;

}

.dropdown-content a ::after{
  width: 100%;
}

.dropdown-content a:hover {
  background-color: pink;
}

.show {
  display: block;
}
.change_content:after {
  content: "";
  animation: changetext 10s infinite linear;
  color: #00b894;
}

@keyframes changetext {
  0% {
    content: "Hearts";
  }
  20% {
    content: "together";
  }
  35% {
    content: "sars-19";
  }
  60% {
    content: "pandemic";
  }
  80% {
    content: "Hearts";
  }
  100% {
    content: "world";
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Corben', Georgia, Times, serif;
}
p, div {
  font-family: 'Nobile', Helvetica, Arial, sans-serif;
}
h1 { 
  text-shadow: 1px 1px 1px rgb(216, 127, 127);
}
.div-that-you want-to-stand-out { 
  box-shadow: 0 0 1em 1em rgb(167, 114, 114);
}